
form {
    margin-top: 3em;
    width: 500px;
    height: 300px;
    padding: 2em 1em;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
  input {
    display: inline-block;
    border: none;
    outline: none;
    margin-left: 2em;
    height: 100%;
    border-bottom: 1px solid rgba(168, 164, 164, 0.807);
    width: 75%;
  }
  input:focus {
    border-bottom: 1px solid rgba(161, 6, 117, 0.807);
    background-color: rgba(128, 128, 128, 0.347);
  }
  
  .input {
    margin: 2em 0;
    height: 40px;
  }
  button {
    padding: 1em 2em;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    border-radius: 5px;
  } 


/* LANDING PAGE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  header */
.header {
    background-color: black;
    color: white;
    padding: 1em 2em;
    width: 100vw;
}

.logo,
.tabs {
    display: inline-block;
}

.logo {
    width: 25%;
}

.tabs {
    width: 72%;
    text-align: right;
    font-size: 1.2em;
}

.tabs a {
    text-decoration: none;
    color: white;
    margin-right: 8%;
}

.tabs a:hover {
    color: pink;
}

/*  home */

.home {
    width: 100vw;
    height: 90vh;
    background: url(https://t3.ftcdn.net/jpg/02/55/22/68/360_F_255226859_Rhqr5hflr2esVXHQE1sS1bWxmZxs0gWI.jpg) no-repeat center;
    background-size: cover;
    padding-top: 25vh;
}

.content {
    height: 300px;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.514);
    margin: 0 auto;
    padding: 1em;
    text-align: justify;
    color: white;
}

.content h1 {
    font-size: 3em;
}

.content p {
    color: rgba(255, 255, 255, 0.644);
    line-height: 1.5em;
    padding: 1em;
    font-size: 1.2em;
}

.btn {
    padding: 1em 2em;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    border-radius: 5px;
}

.btn:hover {
    padding: 1em 2.2em;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.cards {
    height: 60vh;
    padding: 2em 1em;
    text-align: center;
}

.card {
    width: 300px;
    height: 200px;
    margin-top: 1em;
    padding: 1em;
    background-color: green;
    color: white;
    display: inline-block;
    line-height: 1.5em;
}